/* .toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(76, 175, 80, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
} */

/* .toast-close-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
} */


.toast {
    position: fixed;
    top: -100px;  /* Start off-screen */
    right: 20px;
    background-color: rgba(76, 175, 80, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s; /* Smooth transition for opacity and position */
}

.toast-show {
    opacity: 1;
    top: 20px;  /* Move into view */
}

.toast-close-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
}